:root{
    /*https://visme.co/blog/website-color-schemes/ 12 Striking and Simple*/
    --black: rgba(11,12,16);
    --darkblue: rgba(32,40,51);
    --gray: rgba(197,198,200);
    --lightblue: rgba(102,252,241);
    --lightTextBlue: rgb(89, 201, 193);
    --blue: rgba(70,162,159);
    --transitionFast: 0.3s;
    --transitionStedy: 0.5s;
    --transitionSlow: 1s;
}



*{
    outline: 0px;
    /* margin: 0px; */
    padding: 0px;
    /* font-size: 0px; */
    /* border: 0px; */
    box-sizing: border-box;
    font-family: 'Roboto';
}
html{
    font-size: 16px;
}
body{
    background-color: var(--darkblue);
    color: var(--gray);
    /* overflow: hidden;
    overflow: scroll; */
}
section + section{
    /* margin: 100px 0px; */
}
div{
    /* border: 2px solid var(--lightblue); */
    display: block;
}
a{
    text-decoration: none;
    color: var(--gray);
}
li{
    list-style: none;
}
h1{
    color: var(--lightblue);
}

/* templates */
button{
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: var(--gray);
    cursor: pointer;
}
/* 
input{
    appearance: none;
    background-color: var(--gray);
    transition: 0.5s;
    padding: 10px;    
    outline: none;
} */
/* templates */




/* intro */
/* intro */

/* slider */
/* slider */

.slider{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* .slider>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
} */
.slide_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider_content{
    /* transition: var(--transitionStedy);
    display: flex;
    justify-content: space-between; */
    /* width: 600vw; */
    height: 100%;
    width: 100%;
    position: relative;
    /* left: -100%;  */
}
.slide_container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* button pic */
.next, .prev{
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 1;
}
.next{

    right: 0px; 
    background-image: linear-gradient(to left, rgba(0,0,0,0.7)60%, rgba(0, 0, 0, 0));
}
.prev{

    left: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7)60%, rgba(0, 0, 0, 0));
}
.arrow_right_box{
    height: 100px;
    width: 50px;
    margin-left: auto;
    margin-right: 30px;
    overflow: hidden; 
}
.arrow_left_box{
    height: 100px;
    width: 50px;
    margin-right: auto;
    margin-left: 30px;
    overflow: hidden; 
}
.arrow_right{
    aspect-ratio: 1/1;
    width: 140%;
    transform: translate(-50%, 20%) rotate(45deg);
    border-top: 2px solid var(--lightblue);
    border-right: 2px solid var(--lightblue);
}
.arrow_left{
    aspect-ratio: 1/1;
    width: 140%;
    transform: translate(20%, 20%) rotate(45deg);
    border-bottom: 2px solid var(--lightblue);
    border-left: 2px solid var(--lightblue);
}

/* button pic */

/* animation sector */
/* animation sector */
.slide_container{
    display: none;
}
.slide_container:first-child{
    display: block;
}
.currentOutToLeft{
    position: absolute;
    top: 0px;
    animation-name: currentOutToLeft;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes currentOutToLeft{
    0%{
        left: 0px;
    }
    100%{
        left: -100%;
        /* transform: rotateY(90deg); */
    }
}
.currentOutToRight{  
    position: absolute;
    top: 0px;
    animation-name: currentOutToRight;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes currentOutToRight{
    0%{
        left:0px;
    }
    100%{
        left: 100%;
    }
}
.nextInToLeft{
    position: relative;
    top: 0px;
    animation-name: nextInToLeft;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes nextInToLeft{
    0%{
        left:100%;
    }
    100%{
        left:0px;
    }
}
.prevInToRight{
    position: relative;
    top: 0px;
    animation-name: prevInToRight;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes prevInToRight{
    0%{
        left: -100%;
    }
    100%{
        left: 0px;
    }
}
/* animation sector */
/* animation sector */

/* dots */
/* dots */

.dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    bottom: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}
.dot{
    height: 20px;
    width: 20px;
    border: 3px solid var(--lightblue);
    background-color: var(--darkblue);
    border-radius: 100%;
    transition: var(--transitionStedy);
    cursor: pointer;
}
.active{
    background-color: var(--lightblue);
    border-color: var(--darkblue);
}
/* dots */
/* dots */

/* slider */
/* slider */
.intro_IT{
    opacity: 0.8;
}
.intro{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-image: url("img/photos/filtered_photos/BackGF.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*
    theShadow
    position: relative;
    z-index: -2; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.intro_content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.intro_img_con{
    position: relative;
}

.beforeShadow{
    width: 100%;

    position: relative;
    z-index: 1;
}
.shadow{
    position: absolute;

    width: 99%;
    z-index: 0;
    top: 0%;
    left: 1%;
}
.intro_title>h1{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px var(--darkblue);
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

/* intro */
/* intro */

/* Vintro */
/* Vintro */
.videoIntro{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.videoIntro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* Vintro */
/* Vintro */

