.documents{
    width: 90%;
    margin: auto;
}
.title{
    display: table;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: 2px solid var(--blue);
    color: var(--lightblue);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.title>h1{
    display: table-cell;
    vertical-align: middle;
}
.wrapper_D{

}
.unite0_content_D{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: 500px;
    margin-bottom: 50px;
}

.img0_container{
    width: 50%;
    overflow: hidden;
}
.img0_container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.unite0_main_content{
    --blue: rgba(70,162,159,0.9);
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: var(--blue);
    color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.unite0_main_content>h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.unite0_main_content>p{
    font-size: 22px;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    max-width: 500px;
    
}



/* 1111111111111111111111111ONMENENENENEN




    */


.unite1_content_D{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    margin-bottom: 50px;
}
.img1_container{
    width: 50%;
    overflow: hidden;
}
.img1_container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.unite1_main_content{
    --blue: rgba(70,162,159,0.9);
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: var(--blue);
    color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unite1_main_content>h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.unite1_main_content>p{
    font-size: 22px;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    max-width: 500px;
}

/* buttons */
.btnSector{
    height: 100px;
    width: 100%;
}
.btnSector>div{
    display: inline-block;
}
/* carding zone */
.unite0_main_content{
    --blue: rgba(54, 168, 165, 0.9);
    width: 50%;
    height: 100%;
    /* text-align: center; */
    background-color: var(--blue);
    color: var(--darkblue);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.sliderWrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.sliderDoc{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.card{
    /* position: absolute; */
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.currentID{
    display: flex;
    z-index: 1;
}
.card>h1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    color: var(--darkblue);
}
.card>p{
    --gray: rgba(255,255,255,1);
    font-size: 22px;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    max-width: 80%;
    text-shadow: 0px 0px 1px black;
    padding: 0px 20px;
}
.goNext{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0px,-50%);
    background-color: transparent;
    z-index: 2;
}
.goPrev{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0px,-50%) rotate(180deg);
    background-color: transparent;
    z-index: 2;
}









