/* навігаційна панель */
/* навігаційна панель */
/* навігаційна панель */
/* навігаційна панель */
/* навігаційна панель */
@media only screen and (max-width: 265px){
    .li_title:hover {
        padding-left: 20px;
    }
} 
@media only screen and (max-width: 400px){

    .card>p{
        font-size: 16px;
    }
} 
@media only screen and (min-width:700px){
    .pseudoFather{
        display: none;
    }
}
@media only screen and (min-width: 600px){

    .pseudoFather{
        height: 60px;
        line-height: 60px;
    }
    .menu_btn:hover{
        right: 0px;
        background-color:  var(--blue);
    }
    .menu_btn:hover .menu_btn_icon_part{
        background-color: black;
    }
    .header{
        display: block;
    }
    .menu_btn{
        display: flex;
        width: 200px;
        height: 60px;
    }
    .menu_btn_icon{
        line-height: 0px;
        width: 60px;
        height: 60px;
        padding: 20px;
    }
    .menu_btn_text{
        display: block;
        height: 60px;
        font-size: 22px;
        line-height: 58px;
        color: var(--lightblue);
        transition: var(--transitionFast);
        font-weight: bold;
    }
    .menu_btn:hover .menu_btn_text{
        color: var(--darkblue);
    }
    .header{
        height: 100%;
        width: 600px;
        z-index: 3;
    }
    .headerB{
        display: none;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: var(--black);
        transition: var(--transitionStedy);
        opacity: 0;
    }
    .headerShadow{
        transition: var(--transitionStedy);
        position: fixed;
        display: none;
        height: 100vh;
        width: 100%;
        background-color: var(--darkblue);
        opacity: 0.6;
        z-index: 1;
    }
}

/* навігаційна панель */
/* навігаційна панель */
/* навігаційна панель */
/* навігаційна панель */

/* слайдер та інтро */
/* слайдер та інтро */
/* слайдер та інтро */
/* слайдер та інтро */
@media only screen and (max-width: 1000px){
    .intro_IT{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro_img_con{
        width: 80%;
    }
    .goNext{
        right: 0px;
    }
    .goPrev{
        left: 0px;
    }
}
@media only screen and (max-width: 700px){
    .intro_title{
        display: none;
    }
    .arrow_left_box{
        height: initial;
        aspect-ratio: 1/2;
        width: 50%;
        margin: 0px;
    }
    .arrow_right_box{
        height: initial;
        margin: 0px;
        margin-left: auto;
        aspect-ratio: 1/2;
        width: 50%;
    }
    .arrow_right{
        width: 140%;
        aspect-ratio: 1/1;
    }
    .arrow_left{
        width: 140%;
        aspect-ratio: 1/1;
    }
}

@media only screen and (min-width: 1000px) {
    .intro_img_con{
        position: relative;
    }
    .intro_img{
        display: flex;
    }
}

@media only screen and (max-width: 1050px){
    .info{
        flex-direction: column;
        align-items: center;
    }
    .info>div{
        width: auto;
    }
}
@media only screen and (max-width:650px){
    .maps{
        aspect-ratio: auto;
        height: 100vh;
        width: 100%;
    }
}
/* слайдер та інтро */
/* слайдер та інтро */
/* слайдер та інтро */
/* слайдер та інтро */

/* новини */
/* новини */
/* новини */
/* новини */
/* новини */


@media only screen and (max-width:1200px){
    .wrapperNE{
        flex-direction: column;
    }
    .content_news{
        display: flex;
        flex-direction: column;
        width: 100%; 
        margin-right: 0px;
    }
    .content_events{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
    }
    .title_news{
        padding-left: 50px;
    }
    .newsItemModal{
        position: fixed;
        top:10%;
        left: 10%;
        width: 80%;
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 100;
        background-color: var(--darkblue);
    }
    .newsItemModal>div{
        max-height: none;
        flex: 1;
    }
    .newsItemModal>div>div{
        flex-direction: column-reverse;
        height: initial;
    }
    /* news slider */
    .newsItemModal>div>div>div:nth-child(1){
        width: 70%;
        margin: auto;
    }
    .newsItemModal>div>div>div{
        position: relative;
    }
    .newsItemModal>div>div>div:nth-child(1)>img{
        width: 100%;
        margin-bottom: 20px;
    }
    .newsItemModal>h1{
        font-size: 20px;
        color: var(--lightTextBlue);
        padding: 10px;
        /* margin-bottom: 30px; */
        /* height: 80px; */
        border-bottom: 2px solid var(--blue);
    }
    .newsItemModal>div>div>div:nth-child(1)>h2{
        display: none;
    }
    .newsItemModal>div>div>div:nth-child(2)>h2{
        display: inline;
        color: var(--lightTextBlue);
        position: absolute;
        top:-10px;
        right: 20px;
        /* width: 100%; */
    }
    /* news text */
    .newsItemModal>div>div>div:nth-child(2){
        height: initial;
        padding: 10px;
        width: 100%;
        overflow-y: initial;
        overflow-x: initial;
        margin-bottom: 0px;
    }
    /* news text styling */
    .newsItemModal>div>div:nth-child(2)>h1{

    }
    .newsItemModal>div>div>div:nth-child(2)>h2{

    }
    .newsItemModal>div>div>div:nth-child(2)>h3{

    }
    .newsItemModal>div>div>div:nth-child(2)>p{
        padding: 20px 40px;
        line-height: 25px;
    }

}
@media only screen and (max-width:600px){
    .news_item>div>div>div>div>div>div:first-child img{
        width: 100%;
        height: auto;
    }
    /* нова модель */
    /* нова модель */
    /* нова модель */
    
    .newsItemModal{
        position: fixed;
        top:10%;
        left: 2.5%;
        width: 95%;
        height: 85%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 100;
        background-color: var(--darkblue);
    }
    .newsItemModal>div{
        max-height: none;
        flex: 1;
    }
    .newsItemModal>div>div{
        flex-direction: column-reverse;
        height: initial;
    }
    /* news slider */
    .newsItemModal>div>div>div:nth-child(1){
        width: 90%;
        padding: 0px;
        margin: auto;
    }
    .newsItemModal>div>div>div{
        position: relative;
    }
    .newsItemModal>div>div>div:nth-child(1)>img{
        width: 100%;
        margin-bottom: 20px;
    }
    .newsItemModal>div>div>div:nth-child(1)>h2{
        display: none;
    }
    .newsItemModal>div>div>div:nth-child(2)>h2{
        display: none;
        /* color: var(--lightTextBlue);
        position: relative;
        text-align: right;
        top:0px;
        right: 0px; */
        /* width: 100%; */
    }
    /* news text */
    .newsItemModal>div>div>div:nth-child(2){
        height: initial;
        padding: 10px;
        width: 100%;
        overflow-y: initial;
        overflow-x: initial;
        margin-bottom: 0px;
    }
    /* news text styling */
    .newsItemModal>div>div:nth-child(2)>h1{

    }
    .newsItemModal>div>div>div:nth-child(2)>h2{

    }
    .newsItemModal>div>div>div:nth-child(2)>h3{

    }
    .newsItemModal>div>div>div:nth-child(2)>p{
        text-align: left;
        padding: 10px;
        margin-top: 10px;
    }
    /* footer */
    .newsItemModal>footer{
        text-align: center;
        width: 100%;
        height: auto;
        min-height: auto;
        background-color: var(--gray);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        /* justify-content: space-around; */
        /* align-items: center; */
        /* border: 5px solid var(--blue); */
        /* position: absolute;
        left: 0px;
        bottom: 0px; */
    }
    .newsItemModal>footer>div{
        /* flex-grow: 1; */
        /* text-align: center; */
        width: 60%;
        height: auto;
        margin: 20px 0px;
    }
    .newsItemModal>footer>h2 , .newsItemModal>footer>h3{
        /* flex-grow: 1; */
        color: var(--darkblue);
        width: 100%;
    }
    .newsItemModal>footer img{
        width: 100%;
    }

    /* стара модель */
    
    .title_news{
        padding-left: 20px;
    }
    .news_item{
        width:100%;
        height: auto;
    }
    .news_item>div{
        flex-direction: column;
        height: auto;
    }
    .news_item>div>div:nth-child(1){
        width: 100%;
        flex-direction: column;
    }
    .news_item>div>div>div:nth-child(1)>img{
        width: 100%;
        aspect-ratio: auto;
        object-fit: contain;
        margin-right: 0px;
        /* padding-right: 100px; */
    }
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    /* таблиця з розкладом */
    .schedule{
        /* testing */
        /* min-height: 700; */
        width: 100%;
        padding: 0px 10%;
        /* testing */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sidebarMenu{
    /* flex-basis: 120px; */
    /* min-width: 120px; */
        width: 100%;
        max-height: 300px;
    }
    .scheduleContent{
        position: relative;
        flex: none;
        /* min-width: 600px; */
        width: 100%;
        border: 3px solid var(--lightblue);
        height: auto;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        display: inline-block;
        /* line-height: 0px; */
    }
}

@media only screen and (max-width:1550px){
    .news_item>div>div>div:nth-child(2)>h1{
        font-size: 18px;
        line-height: initial;
    }
    .news_item>div>div>div:nth-child(2)>h2{
        font-size: 16px;
        line-height: initial;
    }
    .news_item>div>div>div:nth-child(2)>h3{
        font-size: 14px;
        font-weight: 400;
    }
}
/* новини */
/* новини */
/* новини */
/* новини */
/* новини */

/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */

@media only screen and (max-width:750px){
    .unite0_content_D{
        flex-direction: column-reverse;
        height: initial;
        min-height: 700px;
    }
    .unite0_main_content{
        width: 100%;
        height: 300px;
        flex: 2;
    }
    .img0_container{
        width: 100%;
        /* flex: 1 1 300px; */
        height: 300px;
    }
    .unite1_content_D{
        flex-direction: column;
        height: initial;
        min-height: 700px;
    }
    .unite1_main_content{
        width: 100%;
        height: 300px;
        flex: 2;
    }
    .img1_container{
        width: 100%;
        /* flex: 1 1 300px; */
        height: 300px;
    }
    .img1_container>img{
    }
}

/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */
/* для батьків першокласників */

/* персонал */
/* персонал */
/* персонал */
/* персонал */
/* персонал */
@media only screen and (max-width: 930px){
    .sidebarLibraryContent>div>li:first-child{
        flex-direction: column-reverse;
        /* border-top: 3px solid var(--lightblue); */
    }
    .sidebarLibraryContent header{
        padding: 5px 0px;
    }

    .lockdown>article>div:last-child{
        flex-direction: column;
    }
    .lockdown>article>div>div:first-child, .lockdown>article>div>div:last-child{
        flex: none;
    }
    .lockdown>article>div:last-child{
        max-height: 450px;
        overflow-y: auto;
    }
    .teachersContent{
        height: auto;
        max-height: 400px;
        flex: auto;
    }
    .teachersWrapper{
        flex-direction: column;
    }
    .libraryWrapper{
        flex-direction: column;
    }
    .sidebarLibraryMenu{
        max-height: 300px;
        overflow-y: auto;
    }
    .sidebarLibraryContent>div>li{
        border-bottom: 3px solid var(--lightblue);
    }
    .sidebarLibraryContent>div>li>ol{
        height: auto;
    }
    .sidebarLibraryContent>div>li{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    .sidebarLibraryContent>div>li>ol{
        width: 100%;
        max-height: 0px;
        transition: var(--transitionStedy);
        display: none;
        visibility: visible;
        opacity: 0;
        overflow-y: hidden;
    }
    .sidebarLibraryContent>div>li>ol{
        position: initial;
        /* right: 0px; */
        /* top: 0px; */
        /* display: none; */
        /* overflow: hidden; */
        transition: var(--transitionStedy);
        /* max-height: 0px; */
        /* max-height: 100%; */
        /* height: 60px; */
        text-align: center;
        min-width: 200px;
        flex-grow: 1;
        border-top: 2px solid var(--blue);
        margin-top: 2px;
        /* visibility: hidden; */
        /* opacity: 0; */
        
    }
    .libraryContent{
        flex: none;
        height: auto;
        min-height: 200px;
        max-height: 350px;
    }
    .title, .titleLockdown, .comments_content>h1{
        font-size: 20px;
    }
    
    .sidebarTeachersMenu{
        flex: none;
        max-height: 300px;
        overflow-y: auto;
        border-bottom: 3pd solid var(--blue);
    }
    .usersData{
        width: 100%;
    }
    #localDate{
        width: 80%;
    }
    .FT{
        flex-direction: column;
        height: auto;
    }
    .logoFooter{
        height: auto;
        max-width: 300px;
    }
    .logoFooter>img{
        height: auto;
        max-width: 100%;
    }
    .comments_container>article{
        margin-right: 0px;
    }
}

/* персонал */
/* персонал */
/* персонал */
/* персонал */
/* персонал */
