.teachers{
    /* min-height: 700px; */
    width: 90%;
    margin: 30px auto;
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row-reverse; */
}
.teachersWrapper{
    border: 4px solid var(--blue);
    /* border-top: none; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row-reverse;
}
.titleTeachers{
    width: 100%;
    /* height: 60px; */
    font-size: 30px;
    padding-bottom: 5px;
    /* border-bottom: 2px solid var(--lightblue); */
    /* margin-bottom: 30px; */
}
/* бокова панель */
/* бокова панель */
/* бокова панель */
/* бокова панель */

.sidebarTeachersMenu{
    flex: 1 0 400px;
}
.sidebarTeachersContent{

}
.sidebarTeachersContent>li:first-child{
    /* border-top: 3px solid var(--lightblue); */
    border-bottom: 3px solid var(--lightblue);
}
.sidebarTeachersContent>li{
    border-bottom: 3px solid var(--lightblue);
}
.sidebarTeachersContent header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.sidebarTeachersContent>li>header>div{
    transform: scale(150%);
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sidebarTeachersContent>li>ul{
    display: none;
    overflow: hidden;
    transition: var(--transitionStedy);
    max-height: 0px;
}
.sidebarTeachersContent>li>ul>li{
    border-top: 2px solid var(--blue);
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

/* прапорець Вибір вчителя*/
.checkerTeacher{
    height: 17px;
    width: 17px;
}
/* бокова панель */
/* бокова панель */
/* бокова панель */
/* бокова панель */


/* опис вчителів */
/* опис вчителів */
/* опис вчителів */
/* опис вчителів */

.teachersContent{
    flex: 1 0 400px;
    height: 520px;
    overflow-y: scroll;
    /* background-image: url('https://firebasestorage.googleapis.com/v0/b/progress-7027e.appspot.com/o/03_teachers%2F_fonDark.PNG?alt=media&token=99d185ac-2f7e-4744-ad35-5cd15f6346bb'); */
    
 
}

.teachersContent>li{
    display: none;
    opacity: 0;
    transition: var(--transitionStedy);
 
    
}
.teachersContent>li>div{
    opacity: 0;
    transition: var(--transitionStedy);
    width: 90%;
    margin: 20px  auto;
    text-align: center;
}
/* обгортка фотографії */
.teachersContent>li>div>div:first-child{
    height: 280px;
    width: 100%;
}
/* фотографія */
.teachersContent img{
    height: 100%;
    margin: auto;
    display: block;
}
/* обгортка тексту */
.teachersContent>li>div>div:last-child{
    /* height: 220px; */
    width: 100%;
    /* overflow-y: auto; */
}
.teachersContent p{
    margin-top: 15px;
    line-height: 20px;
}

/* опис вчителів */
/* опис вчителів */
/* опис вчителів */
/* опис вчителів */
