



*{
    outline: 0px;
    margin: 0px;
    padding: 0px;
    /* font-size: 0px; */
    /* border: 0px; */
    box-sizing: border-box;
    font-family: 'Roboto';
}
html{
    font-size: 16px;
}
body{
    background-color: var(--darkblue);
    color: var(--gray);
    overflow: hidden;
    overflow: scroll;
}
section + section{
    margin: 100px 0px;
    width: 90%;
    margin: auto;
}
div{
    /* border: 2px solid var(--lightblue); */
    display: block;
}
a{
    text-decoration: none;
    color: var(--gray);
}
li{
    list-style: none;
}
h1{
    color: var(--lightblue);
}

/* templates */

/* arrow */
.arrow_icon{
    /* position: absolute; */
    width: 30px;
    aspect-ratio: 30/80;
    /* margin: auto; */
}
.boxOfTheArrow{
    width: 100%;
    height: 100%;
    padding-top: 63.33%;
    overflow: hidden;
}
.theArrow{
    width: 140%;
    aspect-ratio: 1;
    transform-origin: center;
    transform: translate(-50%,0px) rotate(45deg);
    border-right: 2px solid var(--darkblue);
    border-top: 2px solid var(--darkblue);
}

button{
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: var(--gray);
    cursor: pointer;
}
.button{
    transition: 0.5s;
    height: 60px;
    width: 200px;
    border: 3px solid var(--lightblue);
    background-color: var(--darkblue);
    color: white;
}
.button:hover{
    background-color: var(--black);
    border-color: var(--darkblue);
}

/* input{
    appearance: none;
    background-color: var(--gray);
    transition: 0.5s;
    padding: 10px;    
    outline: none;
} */
.input{
    border: 4px solid var(--lightblue);
}
/* .input:focus{
    border: 2px solid var(--black);
    background-color: var(--darkblue); 
    color: var(--gray);
    margin: 2px;
} */
/* templates */




/* intro */
/* intro */

/* slider */
/* slider */

.slider{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* .slider>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
} */
.slide_container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slider_content{
    /* transition: var(--transitionStedy);
    display: flex;
    justify-content: space-between; */
    /* width: 600vw; */
    height: 100%;
    position: relative;
    /* left: -100%;  */
}
.slide_container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* button pic */
.next, .prev{
    position: absolute;
    height: 100%;
    width: 15%;
    
}
.next{

    right: 0px; 
    background-image: linear-gradient(to left, rgba(0,0,0,0.7)60%, rgba(0, 0, 0, 0));
}
.prev{

    left: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7)60%, rgba(0, 0, 0, 0));
}
.arrow_right_box{
    height: 100px;
    width: 50px;
    margin-left: auto;
    margin-right: 30px;
    overflow: hidden; 
}
.arrow_left_box{
    height: 100px;
    width: 50px;
    margin-right: auto;
    margin-left: 30px;
    overflow: hidden; 
}
.arrow_right{
    aspect-ratio: 1/1;
    width: 140%;
    transform: translate(-50%, 20%) rotate(45deg);
    border-top: 2px solid var(--lightblue);
    border-right: 2px solid var(--lightblue);
}
.arrow_left{
    aspect-ratio: 1/1;
    width: 140%;
    transform: translate(20%, 20%) rotate(45deg);
    border-bottom: 2px solid var(--lightblue);
    border-left: 2px solid var(--lightblue);
}

/* button pic */

/* animation sector */
/* animation sector */
.slide_container{
    display: none;
}
.slide_container:first-child{
    display: block;
}
.currentOutToLeft{
    position: absolute;
    top: 0px;
    animation-name: currentOutToLeft;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes currentOutToLeft{
    0%{
        left: 0px;
    }
    100%{
        left: -100vw;
        /* transform: rotateY(90deg); */
    }
}
.currentOutToRight{  
    position: absolute;
    top: 0px;
    animation-name: currentOutToRight;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes currentOutToRight{
    0%{
        left:0px;
    }
    100%{
        left: 100vw;
    }
}
.nextInToLeft{
    position: absolute;
    top: 0px;
    animation-name: nextInToLeft;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes nextInToLeft{
    0%{
        left:100vw;
    }
    100%{
        left:0px;
    }
}
.prevInToRight{
    position: absolute;
    top: 0px;
    animation-name: prevInToRight;
    animation-fill-mode: forwards;
    animation-duration: var(--transitionSlow);
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    animation-timing-function: ease-out;
}
@keyframes prevInToRight{
    0%{
        left: -100vw;
    }
    100%{
        left: 0px;
    }
}
/* animation sector */
/* animation sector */

/* dots */
/* dots */

.dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    bottom: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}
.dot{
    height: 20px;
    width: 20px;
    border: 3px solid var(--lightblue);
    background-color: var(--darkblue);
    border-radius: 100%;
    transition: var(--transitionStedy);
    cursor: pointer;
}
.active{
    background-color: var(--lightblue);
    border-color: var(--darkblue);
}
/* dots */
/* dots */

/* slider */
/* slider */

.intro{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-image: url("img/photos/filtered_photos/BackGF.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*
    theShadow
    position: relative;
    z-index: -2; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.intro_content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.intro_img_con{
    position: relative;
}
@media only screen and (max-width: 1000px){
    .intro_IT{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro_img_con{
        width: 80%;
    }
}
@media only screen and (max-width: 700px){
    .intro_title{
        display: none;
    }
    .arrow_left_box{
        height: initial;
        aspect-ratio: 1/2;
        width: 50%;
        margin: 0px;
    }
    .arrow_right_box{
        height: initial;
        margin: 0px;
        margin-left: auto;
        aspect-ratio: 1/2;
        width: 50%;
    }
    .arrow_right{
        width: 140%;
        aspect-ratio: 1/1;
    }
    .arrow_left{
        width: 140%;
        aspect-ratio: 1/1;
    }
}
.beforeS{
    width: 100%;

    position: relative;
    z-index: 1;
}
.shadow{
    position: absolute;

    width: 99%;
    z-index: 0;
    top: 0%;
    left: 1%;
}
.intro_title>h1{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px var(--darkblue);
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.slogan{
    text-align: justify;
    margin: 0px 10%;
    font-size: 19px;
    color: var(--lightblue);
    text-shadow: 1px 1px 4px var(--black);
}
.slogan>span{
    display: inline;
    font-size: 13px;
    text-shadow: none;
    float: right;
    color: var(--gray);
}

@media only screen and (min-width: 1000px) {
    .intro_title{

    }
    .intro_img_con{
        position: relative;
    }
    .intro_img{
        display: flex;
    }
}
/* intro */
/* intro */

/* Vintro */
/* Vintro */
.videoIntro{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.videoIntro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* Vintro */
/* Vintro */



/*news*/
/*news*/

/* wrappers */
.newsEvents{
    margin: 100px 5%;
}
.wrapperNE{
    display: flex;
}
.content_news{
    display: flex;
    flex-direction: column;
    width: 50%; 
    margin-right: 50px;
}
.content_events{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}
.unite_news{
    width:100%;
    height: 210px;
}
.unite_content_news{
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    display: inline-flex;
    background-color: var(--darkblue);
    transition-duration:  var(--transitionFast);
    /* position: relative;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px 0px var(--lightblue);
    transition-property: right, bottom, box-shadow;
    border-top: 2px hidden var(--blue); */
    border-bottom: 2px solid var(--blue); 
}
.unite_content_news:hover{
    /* border-top: 2px solid var(--blue);
    right: 20px;
    bottom: 10px;
    box-shadow: 20px 10px var(--lightblue); */
    padding: 15px 0px;
}
.unite_content_news:hover .text_container_news{
    padding: 15px 0px;
    margin-right: 0px;
}
/* wrappers */

/* title */
.title_news{
    font-size: 32px;
    font-weight: 900;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
}
/* title */

/* image sector */
.image_container_news{
    height: 100%;
}
.image_container_news>img{
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    margin-right: 20px;
    /* padding-right: 100px; */
}
/* image sector */

/* text sector */
.text_container_news{
    /* font-family: 'Roboto', serif; */
    padding: 0px 15px 0px 0px;
    margin-right: 21px;
    transition: var(--transitionFast);
}
.text_container_news h3{
    font-size: 14px;
    margin-bottom: 10px;
}
.text_container_news h2{
    color: var(--blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}
.text_container_news>h1{
    color: var(--lightTextBlue);
    font-size: 22px;
    line-height: 28px;
}
@media only screen and (max-width:1550px){
    .text_container_news h3{
        font-size: 14px;
        font-weight: 400;
    }
    .text_container_news h2{
        font-size: 16px;
        line-height: initial;
    }
    .text_container_news h1{
        font-size: 18px;
        line-height: initial;
    }
}
.allNews{
    margin-top: 10px;
}
.allNews>a{
    color: var(--lightTextBlue);
    box-shadow: 
    0px 2px 0px 0px var(--blue),
    0px 5px 0px 0px var(--darkblue),
    0px 7px 0px 0px var(--blue)
    ;
}
/* text sector */

/* .news{
    padding: h2 0px;
}
.news_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.news_title{
    padding-left: 100px;
    width: 100%;
    font-size: 40px;
}
.news_unite{
    width: 30%;
    aspect-ratio: 4/3;
    position: relative;

    padding: 20px;
}
.news_unite_content{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -2;
}
.news_unite_content::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transitionStedy);
}
.news_unite:hover .news_unite_content::before{
    opacity: 0.6;
}
.news_unite_img{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: -3;
}
.news_unite_img>img{
    height: 100%;
    transition: var(--transitionSlow);
}
.news_unite:hover .news_unite_img>img{
    transform: scale(1.1);
}

.news_unite_title{
    text-align: center;
    transition: var(--transitionSlow);
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 100%;
}
.news_unite_title>h1{
    font-size: 40px;
}
.news_unite:hover .news_unite_title{
    bottom: 60%;
}
.news_unite_text{
    z-index: 1;
    padding: 10px;
    text-align: justify;
    position: absolute;
    transition: var(--transitionSlow);
    top: 100%;
}
.news_unite:hover .news_unite_text{
    top: 40%;
}
.news_footer{
    background-color: var(--darkblue);
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    transition: var(--transitionSlow) ease-in;
    opacity: 0.6;
}
.news_unite:hover .news_footer{
    bottom: 0px;
} */
/* .news_unite_content>img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit;
} */



/*news*/
/*news*/

/* Контакти */
/* Контакти */

.maps{
    width: 60%;
    margin: auto;
    aspect-ratio: 16/9;
}

.maps>iframe{
    width: 100%;
    height: 100%;
}

.info{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.info>div{
    width: 300px;
}
/* Контакти */
/* Контакти */

/* testing */
/* testing */

.bigBox{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: var(--black);
    opacity: 0.7;
}
.smallBox{
    float: left;
    height: 100px;
    width: 100%;
    z-index: 2;
    background-color: var(--lightblue);
}

/* testing */
/* testing */


/* under 768px */
/* MOBILE */

/* @media only screen and (max-width: 768px){ */
    .header{
        display: none;
    }
    /* .intro{
        display: none;
    }
    .videoIntro{
        display: none;
    }
    .news{
        display: none;
    } */

    /* mobile sec */
    .headerM{
        height: 100%;
        overflow-y: scroll;
        padding: 100px 0px;
        transition: var(--transitionStedy);
        width: 100%;
        position: fixed;
        display: none;
        right: -100%;
        background-color: var(--darkblue);
        z-index: 2;
    }
    /* search  */
    .header_search{
        width: 80%;
        margin: auto;
        --black: rgba(11,12,16,0.5);
        background-color: var(--black);
        padding-top: 5px;
    }
    .header_search_form_input{
        display: block;
        width: 92%;
        border: none;
        margin: 5px 4%;
        font-size: 20px;
    }
    .header_search_form_submit{
        transition: var(--transitionFast);
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 50px;
        text-align: center;
        /* border: 3px solid var(--blue); */
        font-size: 0px;
    }
    .header_search_form_submit:hover{
        background-color: var(--blue);
        color: var(--darkblue);
    }
    .header_search_form_submit:hover .glass_part{
        border-color: var(--darkblue);
    }
    .header_search_form_submit:hover .stick{
        background-color: var(--darkblue);
    }
    .submit_icon{
        height: 50px;
        width: 50px;
        padding-top: 5px;
        position: absolute;
        top: 0px;
        right: 60%;
        display: inline-block;     
    }
    .glass_part{
        transition: var(--transitionStedy);
        width: 30px;
        height: 30px;
        background-color: transparent;
        /* background-color: var(--lightblue); */
        border: 4px solid var(--lightblue);
        border-radius: 100%;
        position: relative;
        top: 0px;
        transform: scale(0.8);
    }
    .stick{
        transition: var(--transitionStedy);
        position: absolute;
        height: 5px;
        width: 20px;
        background-color: var(--lightblue);
        border-radius: 25%;
        transform: rotate(45deg);
        top: 28px;
        left: 19px;
    }

    .submit_text{
        position: absolute;
        top: 0px;
        left: 40%;
        display: inline-block;
        font-size: 30px;
        height: 50px;
        line-height: 50px;
    }
    /* search  */
    

    /* menuList */

    .header_contentM{
        /* background-color: var(--darkblue); */
    }
    .header_navM{
        padding: 50px 20px;
        width: 80%;
        margin: auto;
    }
    .header_nav_ulM{
        border-collapse: collapse;
    }
    .header_nav_ul_liM{
        position: relative;
    }
    .header_nav_ul_liM:first-child{
        border-top: 3px solid var(--lightblue);
        border-bottom: 3px solid var(--lightblue);
        border-collapse: collapse;
    }
    .header_nav_ul_liM + .header_nav_ul_liM{
        border-bottom: 3px solid var(--lightblue);
    }
    .link_content{
        height: 40px;
        position: relative;
        z-index: 1;
    }
    .li_titleM{
        --lightblue: rgba(102, 252, 242, 0.05);
        display: block;
        height: 100%;
        font-size: 18px;
        font-weight: bold;
        line-height: 40px;
        padding-left: 5px;
        margin-right: 40px;
        transition: var(--transitionFast);
        background-color: var(--lightblue);
    }
    .li_titleM:hover {
        padding-left: 40px;
        background-color: var(--blue);
        color: var(--darkblue);
    }
    @media only screen and (max-width: 265px){
        .li_titleM:hover {
            padding-left: 20px;
        }
    }
    /* menuList */

    /* button */

    .open{
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        /* border: 2px solid var(--lightblue);
        border-radius: 25%; */
        /* font-size: 16px;
        font-weight: bold; */
        padding: 10px;
        background-color: var(--darkblue);
    }
    .open>div{
        text-align: center;
        width: 20px;
        height: 20px;
        border: 2px solid var(--blue);
        border-radius: 25%;
        font-size: 20px;
        /* line-height: 16px; */
        font-weight: bold;
        background-color: transparent;
    }
    .h- ,.v-{
        transition: var(--transitionStedy);
        display: block;
        position: absolute;
        top: 18px;
        /* transform: translate(0, -50%); */
        height: 4px;
        width: 16px;
        background-color: var(--gray);
    }
    .v-{
        transform: rotate(90deg);
    }
    .openLines{
        transform: rotate(180deg);
    }
    /* button */
    
    /* subMenu */

    .header_nav_ul_li_ulM{
        display: none;
        padding-left: 10px;
        transition: var(--transitionStedy);
        overflow: hidden;
        transform-origin: top;
        /* height: 0px; */
        max-height: 0px;
    }
    .header_nav_ul_li_ul_liM{
        border-top: 2px solid var(--lightblue);
        /* padding: 8px 0px; */
    }
    .header_nav_ul_li_ul_liM>a{
        display: block;
        padding: 8px 5px;
        transition: var(--transitionFast);
        padding-right: 30px;
    }
    .header_nav_ul_li_ul_liM>a:hover{
        padding: 8px 0px;
        padding-left: 30px;
        background-color: var(--blue);
        color: var(--darkblue);
        font-weight: bold;
    }
    /* subMenu */

    /* fixedButton */

    .menu_btn{
        text-align: left;
        position: fixed;
        top: 0px;
        right: -20px;
        height: 50px;
        width: 70px;
        background-color: var(--darkblue);
        opacity: 0.8;
        cursor: pointer;
        transition: var(--transitionFast);
        z-index: 3;
    }
    @media only screen and (min-width: 600px){
    .menu_btn:hover{
        right: 0px;
        background-color:  var(--blue);
    }
    .menu_btn:hover .menu_btn_icon_part{
        background-color: black;
    }
}
    .menu_btn_icon{
        width: 50px;
        height: 50px;
        padding: 15px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .menu_btn_icon_part{
        width: 20px;
        height: 4px;
        background-color: var(--lightblue);
        transition: var(--transitionStedy);
    }
    .part0Exit{
        position: absolute;
        top: 45%;
        /* transform: translate(0, -50%); */
        transform: rotate(45deg) ;
    }
    .part1Exit{
        position: absolute;
        top: 45%;        
        /* transform: translate(0, -50%); */
        transform: rotate(135deg) ;

    }
    .part2{
        position: relative;
        top: 0px;
    }
    .part2Exit{
        opacity: 0;
        top: 50px;
    }

    .menu_btn_text{
        display: none;

    }
    /* fixedButton */

/* } */
@media only screen and (min-width: 600px){
    .header{
        display: none;
    }
    .headerM{
        display: block;
    }
    .menu_btn{
        display: flex;
        width: 200px;
        height: 60px;
    }
    .menu_btn_icon{
        line-height: 0px;
        width: 60px;
        height: 60px;
        padding: 20px;
    }
    .menu_btn_text{
        display: block;
        height: 60px;
        font-size: 22px;
        line-height: 58px;
        color: var(--lightblue);
        transition: var(--transitionFast);
        font-weight: bold;
    }
    .menu_btn:hover .menu_btn_text{
        color: var(--darkblue);
    }
    .headerM{
        height: 100%;
        width: 600px;
        z-index: 3;
    }
    .headerMB{
        display: none;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: var(--black);
        transition: var(--transitionStedy);
        opacity: 0;
    }
}
/* //under 768px */
/* //MOBILE */